extends layout

block content
  h1 First question!
  h2 How many COVID-19 vaccines exist, as of February 2021?

  form(action = "/1", method = "POST")
    div
      input(type='radio' id= 'a' name = 'answer' value = "wrong")
      label(for = 'a') Four. Pfizer-BionTech, AstraZeneca, Moderna, Johnson and Johnson.
    br
    div
      input(type='radio' id= 'b' name = 'answer' value = "wrong")
      label(for = 'a') Only one: Pfizer-BionTech.
    br
    div
      input(type='radio' id= 'c' name = 'answer' value = "correct")
      label(for = 'c') At least seven vaccines have been rolled out.
    br
    button(type = "submit") Submit!

  if (submitted)
    if (correct)
      p Correct!
    else
      p.incorrect Incorrect! see answer:
    p.answer As of 18 February 2021, at least seven different vaccines across three platforms have been rolled out in countries. Vulnerable populations in all countries are the highest priority for vaccination. You can see a list here:
    a(href="https://www.cp24.com/news/a-brief-look-at-the-seven-vaccines-canada-has-pre-ordered-1.5293435?cache=") Seven Vaccines.

    p.answer At the same time, more than 200 additional vaccine candidates are in development, of which more than 60 are in clinical development.

    a(href = "/2")
      button Next Question!

