extends layout

block content
  h2 2. Getting a vaccine is the best way to prevent transmitting COVID-19 to your neighbors.

  form(action = "/submitAnswer", method = "POST")
    div.form-check
      input.form-check-input(type='radio' id= 'a' name = 'answer' value = 'correct')
      label(for = 'a') False
    br
    div.form-check
      input.form-check-input(type='radio' id= 'b' name = 'answer' value = 'wrong')
      label(for = 'a') True
    br
    input(type='hidden' name='pagenum' value='2')
    button(type = "submit") Submit!

  if (submitted)
    if (correct)
      p Correct!
    else
      p Not quite, see answer:
    p.answer It is currently unknown if vaccinated people can transmit the virus if they do become infected but don’t show symptoms. 
    a(href = "/3")
      button Next Question!
