extends layout

block content
  h2 3. Getting the vaccine guarantees you can longer pass on COVID-19 to others.

  form(action = "/", method = "POST")
    div
      input(type='checkbox' id= 'a' name = 'say' value = "Answer")
      label(for = 'a') False
    br
    div
      input(type='checkbox' id= 'b' name = 'say' value = "Incorrect")
      label(for = 'a') True
    br
    button(type = "submit") Submit!

    if (submitted)
      if (correct)
        p Correct!
      else
        p Not quite, see answer:
      p.answer It is currently unknown if vaccinated people can transmit the virus if they do become infected but don’t show symptoms.

  a(href = "/4")
    button Next Question!


