extends layout

block content
  h2 4. The recommended dosage for the Moderna is larger than the Pfizer vaccine. 

  form(action = "/", method = "POST")
    div
      input(type='checkbox' id= 'a' name = 'say' value = "Answer")
      label(for = 'a') True
    br
    div
      input(type='checkbox' id= 'b' name = 'say' value = "Incorrect")
      label(for = 'a') False
    br
    button(type = "submit") Submit!

    if (submitted)
      if (correct)
        p Correct!
      else
        p Not quite, see answer:
      p.answer Pfizer’s contains 30 micrograms of vaccine and Moderna has 100 micrograms.

  a(href = "/5")
    button Next Question!
