extends layout

block content
  h2 6. The vaccine protects against more than one variant of COVID-19.

  form(action = "/submitAnswer", method = "POST")
    div
      input(type='radio' id= 'a' name = 'answer' value = "wrong")
      label(for = 'a') One year.
    br
    div
      input(type='radio' id= 'b' name = 'answer' value = "wrong")
      label(for = 'a') It depends on how far apart your first and second dose was.
    br
    div
      input(type='radio' id= 'c' name = 'answer' value = "correct")
      label(for = 'c') The data collected so far shows 6 months of immunity.
    br
    input(type='hidden' name='pagenum' value='2')
    button.btn.btn-primary(type = "submit") Submit!

    if (submitted)
      if (correct)
        p Correct!
      else
        p Not quite, see answer:
      p.answer The new variants of SARS-CoV-2, including the B.1.1.7 (UK variant) and the 501Y.V2 (South African Variant), do not alter the effectiveness of the Moderna mRNA vaccine.
      a (href = "https://www.who.int/news-room/feature-stories/detail/the-moderna-covid-19-mrna-1273-vaccine-what-you-need-to-know?gclid=CjwKCAjwtdeFBhBAEiwAKOIy56nFgJ__pu_aBFqKan0NhHIi-cRSdrUam8C_oAd5KLfQnu7zNOlBVhoC51gQAvD_BwE")

  a(href = "/6")
    button Final Question!
