extends layout

block content
  p Covid Quiz was created by Janac Meena, after spending hours trying to find answers to simple questions about COVID-19 Vaccines. 
  h1 Bibliography
  li 
    a(href="https://www.fda.gov/media/144413/download") FDA 
  li 
    a(href="https://www.who.int/news-room/feature-stories/detail/the-moderna-covid-19-mrna-1273-vaccine-what-you-need-to-know?gclid=CjwKCAjwtdeFBhBAEiwAKOIy56nFgJ__pu_aBFqKan0NhHIi-cRSdrUam8C_oAd5KLfQnu7zNOlBVhoC51gQAvD_BwE") World Health Organization 
  li 
    a(href="https://www.healthline.com/health-news/will-we-need-a-covid-19-vaccine-booster-shot-later-this-year#Boosters-are-common") Healthline
  br

  h1 Contact
  h2 Feedback and Errata
  p If you've found any errors or have general feedback for this website, please don't hesitate to contact me! 

  h2 Services By JP Software Development
  p I am a full-time software engineer at Lazer Technologies, but in my spare time I direct JP Software Development. We offer 
    li Website creation and consulting services. 
    li Tutoring for students in computer science.
    li Coaching for accelerated success software development careers.
    li Free sessions and low-income/student pricing are available.
  
  p Feel free to contact JP Software Development inc. at  
    img(src='images/email.png' title="This is an image instead of text to bypass email harvesters/spammers.")

  h1 About this Site 
  h2 Tech Stack
  p 
    li JavaScript
    li ExpressJS
    li Pug 
    li Bootstrap 4 
    li Hosted on Glitch.io
    li MikroORM 
    li MongoDB Atlas


