extends layout

block content
  h1 Poll Results
  h2 At the end of the quiz, we asked people how they felt after the poll.

  p Before this quiz, I wanted to get the vaccine, but now I don't.
  p Before this quiz, I wanted to get the vaccine, and I still do.
  br
  div
    p Before this quiz, I *didn't* want to get the vaccine, and I still don't.
  br
  div
    p Before this quiz, I *didn't* want to get the vaccine, but now I am considering it.
  br
  div
    p I'm not sure if I want to get the vaccine or not.
  br
  button(type = "submit") Submit!
