body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00B7FF;
}

.startQuiz {
  width: 100px;
}

#welcome {
  color: green;
}

.answer{
  color: #00B7FF;
}

.incorrect{
  color: red;
}

button {
  padding: 2%;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #00B7FF;
}